$darkblue: rgb(14, 21, 41);
$darkdarkblue: #0a101f;
$blue: rgb(32, 49, 97);
$pink: rgb(185, 177, 231);
$lightblue: #007aff;
$greenblue: rgb(0, 208, 189);
$grey: rgb(141, 141, 141);
$bordergrey: rgba(255, 255, 255, 0.15);

$font-headers: "Inter";
$font-main: "Inter";