@import "@/resources/variables.scss";

.form {
  display: flex;
  flex-direction: column;

  .inputContainer {
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    box-shadow: 0px 0px 15px 4px rgba(133, 133, 133, 0.3);
  }

  .input {
    border: none;
    font-size: 16px;
    width: calc(100% - 50px);
    margin-right: 10px;
    padding: 10px;
  }
  
  .input:focus {
    outline: none;
  }    

  .submit {
      cursor: pointer;
      border: none;
      border-radius: 5px;
      width: 40px;
      height: 40px;
      padding: 10px;
      background-color: $lightblue;
      color: white;
    }

    .error {
      // background: $grey;
      color: red;
      // background: grey;
      margin-top: 15px;
    }
}


